.words-list__wrapper {
  display: grid;
  place-items: center;
}

.words-list {
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  font-size: var(--font-24);
  column-gap: 10rem;
  justify-content: center;

  max-width: 100%;
  max-height: 60vh;
  overflow-y: scroll;

  border: 1px solid var(--box-shadow-color);
  border-radius: 1rem;
  padding: 2rem;

  row-gap: 2rem;
}

.words-list::-webkit-scrollbar {
  display: none;
}
