.modal {
  font-size: 1.6rem;
  width: 40rem;
  height: 20rem;
  border-radius: 1rem;
  border: 1px solid var(--color-foreground);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.modal::backdrop {
  background: var(--backdrop);
}

.modal-body__content {
  margin-block-start: 3rem;
}

.modal-body__close-button {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
  width: 6rem;
}
